@import 'breakpoints.less';

.header-font {
	font-family: sans-serif;
	font-weight: 700;
}
.sub-header-font {
	font-family: sans-serif;
	font-weight: 500;
}
.body-font {
	font-family: sans-serif;
	font-weight: 400;
}

body {
	.body-font();
}

// BS makes `code` red like its an error - make it more normal
body code {
	color: inherit;
}
// ??

/** Opposite of .small
NB: BS defines .small for textm and -sm -lg for some widgets, but not .large for text */
.large {
	font-size: 1.25em;
	@media @width-xl {
		font-size: 1.4em;
	}
}

code {
	text-transform: none !important;
}

.overflow-ellipsis {
	text-overflow: ellipsis;
}

